@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/SourceSansPro-Regular.otf'); /* IE9 Compat Modes */
  src: local('SourceSansPro'),
       url('./fonts/SourceSansPro-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/SourceSansPro-Regular.otf') format('woff2'), /* Super Modern Browsers */
       url('./fonts/SourceSansPro-Regular.otf') format('woff'), /* Modern Browsers */
       url('./fonts/SourceSansPro-Regular.otf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/SourceSansPro-Regular.otf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: bold;
  font-weight: 800;
  src: url('./fonts/SourceSansPro-Bold.otf'); /* IE9 Compat Modes */
  src: local('SourceSansPro'),
       url('./fonts/SourceSansPro-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/SourceSansPro-Bold.otf') format('woff2'), /* Super Modern Browsers */
       url('./fonts/SourceSansPro-Bold.otf') format('woff'), /* Modern Browsers */
       url('./fonts/SourceSansPro-Bold.otf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/SourceSansPro-Bold.otf') format('svg'); /* Legacy iOS */
}

html {
  font-family: Source Sans Pro, sans-serif;
}

.App-header {
  display: grid;
  grid-gap: 20px;
  min-height: 100vh;

  /* Small screens */
  grid-template-rows: minmax(50px, auto);
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: auto;
  padding: 20px;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .App-header {
    grid-template-rows: 20% min-content min-content min-content min-content min-content min-content;
    grid-template-columns: auto 550px auto;
    padding: 0;
  }
}

.logo {
  justify-self: center;
}

.logo img {
  /* Small screens */
  grid-row: 1;
  width: 98px;
  height: 116px;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .logo {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: end;
  }

  .logo img {
    width: 174px;
    height: 206px;
  }
}

.headline {
  /* Small screens */
  grid-row: 2;
  justify-self: center;
  text-align: center;
  width: 100%;

  font-family: Source Sans Pro;
  font-style: normal;
  color: #000000;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .headline {
    align-self: end;
    justify-self: center;
    text-align: center;
    grid-row: 2;
    grid-column: 2;
  }
}

.headline h2 {
  width: 366px;
  height: 30px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
} 

.headline h1 {
  font-weight: normal;
  
  /* Small screens */
  width: 100%;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.headline h1 b {
  font-weight: bold;
  color: #CA2026;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .headline h1 {
    width: 580px;
    height: 44px;
    font-size: 48px;
    line-height: 60px;
  }
}

.headline h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  color: #000000;
  text-align: center;

  /* Small screens */
  font-size: 18px;
  max-width: 100%;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .headline h3 {
    height: 20px;
    font-size: 20px;
    padding: 0;
    text-indent: 0;
  }
}

button {
  background:black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  transition: 0.2s;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
}

button:hover {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
  color: black;
}

button:focus {
  outline: 0;
}

.buttonGroup {
  grid-row: 3;
  grid-column: 1;
  align-self: start;
  justify-self: center;
  margin: 0;
  width: 100%;

  display: grid;
  grid-gap: 15px;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .buttonGroup {
    grid-row: 3;
    grid-column: 2;
    align-self: end;
    justify-self: center;
    margin: 0;
    width: 100%;

    display: grid;
    grid-gap: 20px;
  }
}

.request-button {
  /* Small screens */
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: start;

  width: 100%;
  height: 40px;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .request-button {
    grid-row: 1;
    grid-column: 1;
    align-self: start;
    justify-self: left;
    margin: 0;
    width: 100%;
  }
}

.distillery-button {
  grid-row: 2;
  grid-column: 1;
  color: white;

  justify-self: center;

  width: 100%;
  height: 40px;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .distillery-button {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
    justify-self: center;
    margin: 0;
    width: 100%;
    height: 40px;
  }
}

.volunteer-button {
  /* Small screens */
  grid-row: 3;
  grid-column: 1;
  justify-self: center;
  align-self: end;

  width: 100%;
  height: 40px;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .volunteer-button {
    grid-row: 1;
    grid-column: 3;
    align-self: start;
    justify-self: right;
    margin: 0;
    width: 100%;
    height: 40px;
  }
}

.message {
  /* Small screens */
  grid-row: 4;

  width: 100%;
  justify-self: center;
  margin-top: 50px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: rgba(0, 0, 0, 0.5);
}

/* Large screens */
@media screen and (min-width: 40em) {
  .message {
    grid-row: 4;
    grid-column: 2;
    align-self: end;
    justify-self: center;
  }
}

.need-help {
  /* Small screens */
  grid-row: 5;
  justify-self: center;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 10% 80% 10%;


  width: 100%;
  height: 220px;

  background: #A1DBE8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  border-radius: 10px;

  color: black;
}

/* Large screens */
@media screen and (min-width: 40em) {
  .need-help {
    grid-row: 5;
    grid-column: 2;
    height: 170px;
    justify-self: center;
    align-self: start;
  }
}

.need-help div:nth-child(1) {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  padding-bottom: 10px;
}

.need-help div:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
  align-self: start;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer {
  grid-row: 7;
  height: 50px;
}







/************** ANIMATIONS **************/

.headline h1 {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
       animation: fadein 1s;
}

.headline h3 {
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
   -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
       animation: fadein 1.5s;
}

.need-help {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.request-button {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.volunteer-button {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.distillery-button {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.message {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}